/*

As3GameGears API - http://api.as3gamegears.com

*/

a, a:visited, a:hover {
	color: #CC6600;
}

h1,h2,h3,h4 {
	font-family: 'Cabin Sketch', cursive;
	color: #000; 
	font-size: 32px;
}

#overview {
	background: #FF6600;
	padding: 20px 0 5px 0;
	color: #000;
	height: 80px; 
}

#overview h1 { 
	font-size: 48px;
}

#overview p { 
	font-size: 21px;
	font-family: 'Cabin Sketch', cursive;
}

#unknown {
	height: 300px;
}

#description h2 {
	font-size: 23px;
	margin-top: 20px;	
}

#methods h2 { 
	font-size: 23px;
	margin-top: 20px;
}

.method-link { 
	margin: 0 0 3px 40px;
}

section {
	margin-top: 40px;
}

.centered {
	text-align: center;
}

.footer {
	margin-bottom: 25px;
}

.param-type {
	font-style: italic; 
}

/* Nice GitHub code highlight :) */
pre,
code {
	font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
	background-color: #f8f8ff!important;
	border:1px solid #dedede;
	font-size:13px;
	padding:0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}