body {
}

.jumbotron {
  background: #FF7700;
  margin-top: -20px;
}

a:active,
a:link,
a:hover,
a:visited {
	color: #000;
}

.index-icon {
}

#headline {
}

.jumbotron i {
  float: left;
  margin-right: 30px;
  font-size: 100px;
}

.navbar {
  background: #FFF;
}

.navbar-brand img {
  width: 70%;
  height: auto;
  margin-top: -10px;
}

.item-jumbotron {
  height: 150px;
  padding-top: 20px;
  margin-bottom: 15px;
}

.item-descriptor div.panel-body {
  min-height: 100px;
}

.item-descriptor div.panel-heading {
  font-weight: bold;
}

.item-meta {
  margin-bottom: 25px;
  background: #efefef;
  padding: 12px 12px 6px 12px;
  overflow: auto;
  border: 1px solid #cfcfcf;
}

.item-meta img {
  float: left;
  margin-right: 8px;
}

.item-meta i {
  float: left;
  margin-right: 8px;
}

.item-meta p {
  float: right;
  margin: 0;
  font-size: 0.9em;
}

.item-meta strong {
  font-size: 1.2em;
}

.item-meta div {
  float: left;
  margin-right: 30px;
}

.editable {
	
}

div.item-meta .editable {
	background: transparent;
	color: black;
	font-weight: bold;
}

div#headline input.editable {
	background: transparent;
	color: black;
	font-size: 2em;
	height: 40px;
	border: none;
}

.breadcrumb a,
.breadcrumb a:active,
.breadcrumb a:hover,
.breadcrumb a:visited {
  color: #000;
}

.social-links li {
  list-style-type: none;
  margin-bottom: 10px;
}

.social-links li i {
  width: 15px;
}

footer .container-fluid {
  padding-top: 20px;
  margin-top: 40px;
  background: #E0E0E0;
  padding-bottom: 30px;
}

footer li {
  list-style-type: none;
}

footer h4 {
	font-weight: bolder;
}

footer div.notice {
	margin-top: 20px;
	font-size: 0.8em;
	color: #7f7f7f;
	text-align: center;
}

.category-showroom p {
	margin-bottom: 25px;
}

.category-showroom a:link,
.category-showroom a:active,
.category-showroom a:visited,
.category-showroom a:hover {
	font-size: 1.2em;
	font-weight: bold;
}


.post-author {
	font-size: 1em;
	margin-top: 18px;
}

.post-author img {
	float: right;
}

.post-author p {
	float: right;
	padding-right: 10px;
	padding-top: 8px;
	font-size: 1.0em !important;
}

.post-author strong {
	font-size: 1.2em !important;
}