DirectoryIndex index.php
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule /(.*)\.(php|html|gif|jpg|png|css|js|ico)$ /site/$1.$2 [L]
	RewriteRule ^usage/(.+)$ /site/index.php?version=1.0&method=$1 [L]
	RewriteRule ^usage/?$ /site/index.php?version=1.0 [L]
	RewriteRule ^$ index.php [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
<ifModule mod_php5.c>
	php_flag display_errors Off
</IfModule>