/*
Theme Name: Vijay
Description: Lite and customized version of Salju, a free WordPress Twenty Ten Child Theme from WPCharity.com
Theme URI: http://dovyski.com
Author: Fernando Bevilacqua
Author URI: http://dovyski.com
Template: twentyten
Version: 1.0.0
*/
@import url(../twentyten/style.css);
@import url('http://fonts.googleapis.com/css?family=Arvo');
@import url('http://fonts.googleapis.com/css?family=Cabin+Sketch');

/* one column madness http://www.iandanielstewart.com/2010/05/28/one-column-madness/ by @ianstewart */
/*
#branding {
	width: 640px;
}
#container {
	float: none;
	margin: 0;
	width: 680px;
}
#content {
	margin: 0 0 0 40px;
}
.home .sticky {
	margin-left: 0;
	margin-right: 0;
}
#primary,
#secondary {
	float: left;
	overflow: hidden;
	width: 220px;
	display: none;
}
#secondary {
	clear: left;
}
#footer {
	clear: both;
	width: 100%;
}
#colophon {
	margin-top: 36px;
	width: 640px;
}
#site-info {
	width: 300px;
}
#site-generator {
	width: auto;
}

.one-column #content {
	margin: 0 auto;
	width: 100%;
}

.single-attachment #content {
	margin: 0 auto;
	width: 100%;
}*/

/* Salju by @wpcharity */
body{
	background: #fff;
}
body, input, textarea, .page-title span, .pingback a.url{
	font-family: Arial, Helvetica, sans-serif;
}
#outer-wrapper{
	width: 100%;
}
#wrapper{
	width: 100%;
	margin-bottom: 20px;
	margin-top: 0px;
	background: #fff;
	padding: 0;
}
#header {
	width: 100%;
	height: 300px;
	margin: 0; 
	background: #FF6C0A url(img/splash_pointer.png) no-repeat 90% 0;
}
#masthead{
	width: 70%; /*640px;*/
	margin: 0 auto;
}
#branding{
}
#site-title {
	margin: 0px 0 9px;
	color: #000; 
	font: normal 90px  "Cabin Sketch", Helvetica, Arial, Sans-Serif;
	line-height: 80px;
	padding: 10px 0 0 0;
}
#site-description{
	font: normal 25px  "Cabin Sketch", Helvetica, Arial, Sans-Serif;
	width: 70%;
	float: none;
	margin: 0;
	color: #000;
}
#access{
	background-color: transparent;
	width: 450px;
}
#access .menu-header, div.menu{
	margin-left: 0px;
	text-transform: uppercase;
	width: 500px;
	font-size: 12px;
}
#access a{
	padding: 0 5px;
	color: #222;
}
#access ul li.current_page_item > a, #access ul li.current-menu-ancestor > a, #access ul li.current-menu-item > a, #access ul li.current-menu-parent > a{
	color: #000;
	font-weight: bold;
	font-size: 20px;
}
#access li:hover > a{
	background-color: transparent;
	color: #111;
}
#access ul ul a{
	background-color: #eee;
}
#access ul ul :hover > a{
	background-color: #f5f5f5;
	color: #111;
}
.header-search{
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 5px 0 0 0;
}
.header-search input{
	vertical-align: middle;
}
#content, #content input, #content textarea{
	font-size: 16px;
	line-height: 160%;
}
#content .post{	
	padding: 0 0 0 80px;
	margin-bottom: 30px;
}
#content .page{
	padding: 0;
}
#content .entry-title{
	font: normal 30px/120%  "Arvo", Helvetica, Arial, Sans-Serif;
}
#content .post,
#content .tag-text{
	background: url(img/text.png) no-repeat 0 20px;
}
#content .tag-photo{
	background: url(img/photo.png) no-repeat 0 20px;
}
#content .tag-quote{
	background: url(img/quote.png) no-repeat 0 20px;
}
#content .tag-link{
	background: url(img/link.png) no-repeat 0 20px;
}
#content .tag-chat{
	background: url(img/chat.png) no-repeat 0 20px;
}
#content .tag-audio{
	background: url(img/audio.png) no-repeat 0 20px;
}
#content .tag-video{
	background: url(img/video.png) no-repeat 0 20px;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{
	font-family:   "Arvo", Helvetica, Arial, Sans-Serif;
}
#entry-author-info{
	background-color: #f5f5f5;
	border: 0px;
	font-size: 12px;
}
#entry-author-info h2{
	font: normal 18px  "Arvo", Helvetica, Arial, Sans-Serif;
}
#content h1.page-title,
#content h1.page-title span{
	font: normal 16px  "Arvo", Helvetica, Arial, Sans-Serif !important;
	border-top: 1px solid #ccc;
	padding: 20px 0 0 0;
}
#content img,
#content embed,
#content object{
	max-width: 560px;
}
blockquote{
	background: url(img/quotes.png) no-repeat top left;
	color: #999;
	font-size: 24px;
	line-height: 140%;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.navigation{
	padding: 20px 0 0 0;
}
.form-allowed-tags{
	display: none;
}
.entry-meta a,
.entry-utility a{
	color: #999 !important;
}
.entry-utility{
	line-height: 160%;
}
.meta-prep,
.entry-meta .meta-sep,
.entry-utility-prep-tag-links,
.entry-utility-prep-cat-links,
.com{
	width: 16px;
	height: 16px;
	background: url(img/date.png) no-repeat top left;
	display: inline-block;
	vertical-align: middle;
}
.entry-meta .meta-sep{
	background: url(img/who.png) no-repeat top left;
	margin-left: 30px;
}
.entry-utility-prep-tag-links{
	background: url(img/tag.png) no-repeat top left;
	margin-left: 30px;
}
.entry-utility-prep-cat-links{
	background: url(img/cat.png) no-repeat top left;
}
.com{
	background: url(img/com.png) no-repeat top left;
	margin-left: 30px;
}
.edit-link{
	float: right;
	font-size: 11px;
	font-style: italic;
	display: inline;
}
#respond{
	border: 0px;
}
#comments{
	border-top: 1px solid #ccc;
	margin: 20px 0 0 0;
}
.comment-meta{
	margin-bottom: 15px;
}
#content .comment-body p{
	margin-bottom: 10px;
	font-size: 14px;
}
.commentlist li.comment{
	border-bottom: 1px solid #ccc;
}
h3#comments-title,
h3#reply-title{
	font: normal 25px  "Arvo", Helvetica, Arial, Sans-Serif;
}
h3#comments-title em{
	font-style: normal;
}
#footer-widget-area .widget-area{
	width: 200px;
	font: normal 12px/160% Helvetica, Arial, Sans-Serif;
	margin-right: 20px;
}
#footer-widget-area #third{
	margin-right: 0px;
}
.widget-area ul ul{
	margin-left: 0px;	
}
.widget-area ul ul li{
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}
#footer .textwidget img{
	margin: 0 10px 0 0;
}
#footer  h3,
#site-info{
	font: normal 20px/40px  "Arvo", Helvetica, Arial, Sans-Serif;
}
#site-generator{
	text-align: right;
}
#site-generator a{
	font: normal 11px/40px Arial, Helvetica, sans-serif;
}
#site-generator a.wpcharity{
	/*background: url(img/wpcharity.png) no-repeat left center;*/
	padding: 0;
	background: none;
}
#footer #colophon{
	padding: 20px 0;
	margin: 30px auto 0 auto;
	border-top: 0 solid #ccc;	
}
#footer #foot #colophon{
	border-top: 0px solid #ccc;	
	padding: 5px 0 20px 0;
	margin: 0px auto;
}
#footer #foot #colophon a{
	color: #999 !important;
}
/* etc */
#access .menu-header, div.menu, #colophon, #branding {
	width: auto;
}
#main {
	width: 80%; /*710px*/
}
#colophon{
	width: 640px;
}
a,
a:link,
a:visited,
a:active{
	color: #6699cc;
	text-decoration: none;
}
a:hover{
	color: #336699 !important;
	text-decoration: none !important;
	text-shadow: 1px 1px 1px #ddd;
}
.clear{
	clear: both;
}