/*
Theme Name: Vijay
Description: Lite and customized version of Salju, a free WordPress Twenty Ten Child Theme from WPCharity.com
Theme URI: http://as3gamegears.com
Author: Fernando Bevilacqua
Author URI: http://dovyski.com
Template: twentyten
Version: 1.0.2
*/
@import url(../twentyten/style.css);
@import url('http://fonts.googleapis.com/css?family=Arvo|Cabin+Sketch');

/* Salju by @wpcharity */
body{
	background: #fff;
}
body, input, textarea, .page-title span, .pingback a.url{
	font-family: Arial, Helvetica, sans-serif;
}
#outer-wrapper{
	width: 100%;
}
#wrapper{
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
	background: #fff;
	padding: 0;
}
#header {
	width: 100%;
	height: 250px;
	margin: 0; 
	background: #ff6c0a url(img/splash_agg_alpha.png) no-repeat 100% -150px;
	border-bottom: 3px #000 solid;
}
#logo {
	float: left;
	width: 350px;
	height: 70px;
	background: #9ff0000;
}

.header-bg-item {
	background: #ff6c0a url(img/splash_info_alpha.png) no-repeat 95% -120px !important;
}
.header-bg-category {
	background-color: /*#cfcfcf*/#ff6c0a !important;
}
#masthead{
	position: relative;
	top: -25px;
	width: 80%; /*640px;*/
	margin: 0 auto;
}
#branding{
}
#site-title {
	width: 80%;
	margin: 85px 0 9px;
	color: #000; 
	font: bold 80px  "Cabin Sketch", Helvetica, Arial, Sans-Serif;
	line-height: 80px;
}
.site-title-category {
	margin: 30px 0 9px !important;
}
#site-description{
	font: normal 25px  "Cabin Sketch", Helvetica, Arial, Sans-Serif;
	width: 70%;
	float: none;
	margin: 0;
	color: #000;
}
#access{
	float: left;
	padding-top: 10px;
	background-color: transparent;
	width: 230px;
}
#access .menu-header, div.menu{
	margin-left: 0px;
	text-transform: uppercase;
	width: 500px;
	font-size: 12px;
}
#access a{
	padding: 0 5px;
	color: #222;
}
#access ul li.current_page_item > a, #access ul li.current-menu-ancestor > a, #access ul li.current-menu-item > a, #access ul li.current-menu-parent > a{
	color: #000;
	font-weight: bold;
	font-size: 20px;
}
#access li:hover > a{
	background-color: transparent;
	color: #111;
}
#access ul ul a{
	background-color: #eee;
}
#access ul ul :hover > a{
	background-color: #f5f5f5;
	color: #111;
}
.header-search{
	float: right;
	text-align: right;
	padding: 10px 0 1px 0;
	width: 250px;
	height: 28px;
}
.header-search input{
	vertical-align: middle;
}

.search-text {
	width: 200px;
}

.entry-content {
	padding-top: 0;
}

#content, #content input, #content textarea{
	font-size: 14px;
	line-height: 160%;
}
.thumb-tools .post{	
	padding: 0;
	margin: 30px 30px 10px 0 !important;
	width: 250px;
	height: 180px;
	float: left;
	font-size: 13px;
	line-height: 20px;
}

.thumb-tools .com,
.thumb-tools .comments-link {
	display: none;
}

.thumb-tools .entry-summary {
	height: 85px;
	overflow: hidden;
}

#content .page{
	padding: 0;
}
#content .entry-title, #content .entry-title a {
	font: bold 28px/120%  "Cabin Sketch", Helvetica, Arial, Sans-Serif;
	line-height: 20px;
	margin-bottom: 5px;	
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{
	font-family:   "Arvo", Helvetica, Arial, Sans-Serif;
}
#entry-author-info{
	background-color: #f5f5f5;
	border: 0px;
	font-size: 12px;
}
#entry-author-info h2{
	font: normal 18px  "Arvo", Helvetica, Arial, Sans-Serif;
}
#content h1.page-title,
#content h1.page-title span{
	font: normal 16px  "Arvo", Helvetica, Arial, Sans-Serif !important;
	padding: 20px 0 0 0;
}
#content img,
#content embed,
#content object{
	max-width: 850px;
}
blockquote{
	background: url(img/quotes.png) no-repeat top left;
	color: #999;
	font-size: 24px;
	line-height: 140%;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.navigation{
	padding: 10px 0 0 0;
	clear: both;
}
.form-allowed-tags{
	display: none;
}
.entry-meta a,
.entry-utility a{
	color: #999 !important;
}
.entry-utility{
	margin-top: 10px;
}
.meta-prep,
.entry-meta .meta-sep,
.entry-utility-prep-tag-links,
.entry-utility-prep-cat-links,
.com{
	width: 16px;
	height: 16px;
	background: url(img/date.png) no-repeat top left;
	display: inline-block;
	vertical-align: middle;
}
.entry-meta .meta-sep{
	background: url(img/who.png) no-repeat top left;
	margin-left: 30px;
}
.entry-utility-prep-tag-links{
	background: url(img/tag.png) no-repeat top left;
	margin-left: 5px;
}
.entry-utility-prep-cat-links{
	background: url(img/cat.png) no-repeat top left;
}
.com{
	background: url(img/com.png) no-repeat top left;
	margin-left: 30px;
}
.edit-link{
	float: right;
	font-size: 11px;
	font-style: italic;
	display: inline;
}
#respond{
	border: 0px;
	display: none;
}
#commentform {
}
#comments{
	border-top: 1px solid #ccc;
	margin: 20px 0 0 0;
}
.comment-meta{
	margin-bottom: 15px;
}
#content .comment-body p{
	margin-bottom: 10px;
	font-size: 14px;
}
.commentlist li.comment{
	border-bottom: 1px solid #ccc;
}
h3#comments-title,
h3#reply-title{
	font: normal 25px  "Arvo", Helvetica, Arial, Sans-Serif;
}
h3#comments-title em{
	font-style: normal;
}
#footer {
	background: #000;
	color: #8f8f8f;
}
#footer-widget-area {
}
#footer-widget-area .widget-area{
	width: 230px;
	margin-right: 50px;
}
#footer-widget-area #fourth{
	margin-right: 0px;
}
#footer .textwidget img{
	margin: 0 10px 0 0;
}
#footer  h3,
#site-info{
	font: normal 20px/40px  "Cabin Sketch", Helvetica, Arial, Sans-Serif;
	color: #ffffff;
}
#site-generator{
	text-align: right;
}
#site-generator a{
	font: normal 11px/40px Arial, Helvetica, sans-serif;
}
#site-generator a.wpcharity{
	padding: 0;
	background: none;
}
#footer #colophon{
	padding: 20px 0;
	margin: 30px auto 0 auto;
	border-top: 0 solid #ccc;	
}
#footer #foot #colophon{
	border-top: 0px solid #ccc;	
	padding: 5px 0 20px 0;
	margin: 0px auto;
}
#foot {
	margin-top: 10px;
	font-size: 11px;
	color: #525252;
}

#footer a:link,
#footer a:active,
#footer a:visited,
#footer a:hover {
	color: #8a8a8a !important;
}

#footer ul, #footer li{
	list-style: none;
}

/* etc */
#access .menu-header, div.menu, #colophon, #branding {
	width: auto;
}
#main {
	width: 83%; /*710px*/
	padding-top: 20px;
}
#colophon{
	width: 80%;
	margin: 0 auto;
}
a,
a:link,
a:visited,
a:active{
	color: #000;
	font-weight: normal;
	text-decoration: underline;
}
a:hover{
	color: #0c0c0c !important;
	text-decoration: none !important;
	text-shadow: 1px 1px 1px #ddd;
}

.entry-utility a,
.entry-utility a:link,
.entry-utility a:visited,
.entry-utility a:active{
	font-weight: normal;
	text-decoration: none !important;
}

.clear{
	clear: both;
}

/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul ul{
	margin-left: 0px;	
}
.widget-area ul ul li{
	list-style: square;
	/*border-bottom: 1px solid #efefef;*/
	padding: 2px 0;
}
.widget_search #s { /* This keeps the search inputs in line */
	width: 60%;
}
/*
.widget_search #searchsubmit {
	width:51px;
	height:41px;
	background: url("images/icons/search.png") top left no-repeat;
	border: none;
}*/
.widget_search label {
	display:none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	font: bold 30px/120%  "Cabin Sketch", Helvetica, Arial, Sans-Serif;
	line-height: 20px;
	margin-bottom: 15px;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}

#social-panel {
	margin: 0 0 30px 10px;
}

.author-info {
	margin: 20px 0 5px 0;
}

.author-info img {
	border: 2px solid #c0c0c0;
}

/* Styles for pagination */
/*.wp-paginate {padding:0; margin:0;}*/
/*.wp-paginate li {display:inline; list-style:none;}*/
.wp-paginate {
	margin-top: 20px !important;
}

.wp-paginate a {
	background: #000 !important;
	border:1px solid #000 !important;
	color:#fff !important;
	padding:8px 12px !important;
}
.wp-paginate a:hover, .wp-paginate a:active {
	background:#ff6c0a !important;
	color:#000 !important;
}
.wp-paginate .current {
	background:#ff6c0a !important;
	color:#000 !important;
	border:2px solid #000 !important;
	padding:10px 14px !important;
}

.not-found {
	width: 100% !important;
	position: relative;
	height: 400px;
	margin-top: 10px;
}

.not-found img {
	position: absolute;
	top: 0;
	right: 0;
}

#texting {
	padding-top: 30px;
}

/* Asset author bio */

.asset-author {
	background-color: #f1f1f1;
	padding: 3px;
	overflow: auto;
}

.asset-author img {
	width: 90px;
	height: 90px;
	float: left;
	margin: 10px;
}

/*Front page rules */

.home-banner {
	width: 275px;
	height: 374px;
	float: left;
	text-align: center !important;
	padding-right: 20px;
	position: relative;
}

.home-banner-last {
	padding-right: 0 !important;
}

.home-banner img {
	border: 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.home-banner p {
	position: absolute;
	bottom: -5px;
	left: 10px;
	z-index: 110;
	width: 255px;
	text-align: center !important;
}

/* Dividers */

.divider {
	width: 90%;
	height: 65px;
	background: transparent no-repeat -1px -1px;
	padding: 35px 0 0 80px;
}

.icon-big { 
	background-image: url(img/div_code_splash.png) !important;
	padding: 30px 0 0 140px !important;
}
.icon-code-splash   { background-image: url(img/div_code_splash_small.png) !important;  }
.icon-code   		{ background-image: url(img/div_code_small.png) !important;  }
.icon-brain  		{ background-image: url(img/div_brain_small.png) !important; }
.icon-skull  		{ background-image: url(img/div_skull_small.png) !important; }
.icon-idea  		{ background-image: url(img/div_idea_small.png) !important; }

/* Tip box */
.tip-box {
	width: 88%;
	min-height: 75px;
	background: #e5e5e5 no-repeat url(img/div_idea_small.png) 10px 0;
	padding: 15px 0 5px 90px;
	overflow: hidden;
	border: 2px #cfcfcf solid;
	margin-bottom: 20px;
}

/* Remove WP-stats smile face from the bottom of the page */
img#wpstats{display:none}

/* Nice GitHub code highlight :) */
pre,
code {
	font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
	background-color: #f8f8ff!important;
	border:1px solid #dedede;
	font-size:13px;
	padding:0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}